<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Login In</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container text-center">
		<div>
			<h1>User Login</h1>
		</div>
		<form th:action="@{/process_login}" id="login" method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-8">
						<input type="email" th:value="${user.email}" name="email" class="form-control" required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Password: </label>
					<div class="col-8">
						<input type="password" th:value="${user.password}" name="password" class="form-control" required
							minlength="4" maxlength="10" />
					</div>
				</div>

				<div class="form-group">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="option1" name="admin" class="custom-control-input" checked="checked"
							value="false">
						<label class="custom-control-label" for="option1">Student</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="option2" name="admin" class="custom-control-input" value="true">
						<label class="custom-control-label" for="option2">Admin</label>
					</div>
				</div>

		</form>
		<form method="get" th:action="@{/register}" id="register">
		</form>
		<div class="container text-cente">
			<button type="submit" class="btn btn-outline-primary mr-1" form="login">Login</button>
			<button type="submit" class="btn btn-primary mr-1" form="register">Sign up as Student</button>
		</div>

	</div>
</body>

</html>